
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><%= @album.title%></h1>
      <p class="lead text-muted"><%= @album.description %></p>
      <div class="btn-group">
        <%= button_to 'Upload photos', new_album_photo_path(@album.id), method: :get, class: 'btn btn-primary my-2 mx-1' %>
        <%= button_to 'Delete album', album_path, method: :delete, class: 'btn btn-danger my-2 mx-1' %>
      </div>
    </div>
  </section>
  <section id="photos">
    <% @album.photos.each do |photo| %>
    <%= photo.description %><%= image_tag(photo.img_data) if photo.img_data.attached? %>
    <% end %>
  </section>
